@import "./base/base";

@import "./colors/colors";

@import "./fonts/fonts";

@import "./mixin/mixin";

#ham-icon {
    margin: auto 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 2rem;
    justify-content: flex-start;
}

//sets colors of the bars
#ham-icon div {
    width: 30px;
    height: 4px;
    background-color: $deep-blue;
    margin: 3px 0;
    transition: 0.4s;
    z-index: 5;
}

//mobile menu

.ham-container {
    display: none;
    width: 100%;
}

/*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open {

    .bar1 {
        -webkit-transform: rotate(-45deg) translate(-6px, 6px);
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        /*stacks each link on top of each other on mobile*/
        justify-content: center;
        z-index: 3;
        height: 100vh;
        margin-left: auto;
        top: 0;
        width: 80%;
        right: 0;
        box-shadow: -1px 9px 90px 180px #2d324d59;
        list-style: none;
        font-family: $alata, $sans;
        transition: top 0.5s ease-in-out;
        opacity: 0.98;

        li {
            padding: 0.5rem;
        }
    }
}


/*once user opens the icon the links will display in a stacked view*/
.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    /*fixed height of header*/
    left: 0;
    top: 100%;
    height: calc(70vh - 50px);
    /*takes the full remaining space of site hence width 100. set the height to 100 and subtract it from the height of header*/
    width: 100%;
    font-size: 3.5rem;
    /*sets the background of the menu once user opens the icon. I want to make this transition more seamless. (future update)*/
    background-color: $body;
    text-align: right;

    a {
        color: $deep-blue;
    }

    li {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 360px) {
    #about {
        background-color: $intro-bg;
        color: $body;
    }

    .ham-container {
        display: flex;
        justify-content: flex-end;
        padding-top: 3rem;
    }

    .desktop-nav-bar {
        display: none;
    }

    ion-icon {
        font-size: 4rem;
        position: absolute;
        top: 75%;
        left: 44%;
        margin: 0 auto;
        color: $intro-bg;
        transition: transform 300ms ease-in-out;

        @include hover {
            transform: scale(1.1);
        }
    }

    .header-bg {
        .about-container {
            display: flex;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: relative;

            &__title {
                span {
                    font-family: $jose, $sans;
                    font-size: 72px;
                    position: absolute;

                    &:first-child {
                        top: 1%;
                        left: 15%;
                    }

                    &:nth-child(2) {
                        top: 11%;
                        left: 30%;
                    }

                    &:nth-child(3) {
                        top: 21%;
                        left: 40%;
                    }

                    &:nth-child(4) {
                        top: 31%;
                        left: 55%;
                    }

                    &:nth-child(5) {
                        top: 41%;
                        left: 70%;
                    }

                    &:nth-child(6) {
                        left: 30%;
                    }

                    &:nth-child(7) {
                        top: 61%;
                    }
                }
            }
        }
    }

    .intro-wrapper {
        width: 90%;
        margin: 0 auto;

        &__container {
            font-family: $alata, $sans;

            h1 {
                font-size: 74px;
                padding: 1rem;
                text-align: center;
            }

            p {
                line-height: 1.75rem;
            }

            .line {
                width: 200px;
                height: 3px;
                background-color: $body;
                margin: 0 auto;
            }

            &__content {
                margin: 3rem auto;
                font-size: 1.125rem;
            }

            &__skills {
                padding-bottom: 15rem;

                h2 {
                    font-size: 3rem;
                    margin: 4rem auto 2rem auto;
                }

                &__list {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    align-items: center;
                    justify-content: center;
                    grid-template-rows: repeat(2, 2fr);
                    gap: 2rem;

                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 1rem;
                    }
                }
            }
        }
    }

    .footer-container {
        height: 40vh;
        background-color: $deep-blue;

        .footer-bar {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            gap: 1.5rem;
            height: inherit;
            justify-content: space-evenly;
            a{
                color: $deep-blue;
            }
            &__list {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                font-family: $mont, $sans;
                gap: 0.75rem;
                font-size: 1.125rem;

                a {
                    color: $body;
                }
            }

            .resume-btn {
                width: 200px;
                height: 50px;
                font-family: $mont, $sans;
                background-color: $body;
                border: none;
                font-size: 1rem;
                border-radius: 10px;
            }

            .attribution {
                font-family: $mont, $sans;
                color: $body;
                font-size: 12px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .ham-container {
        display: none;
    }

    .header-bg {
        .desktop-nav-bar {
            display: flex;
            height: 10vh;
            align-items: center;
            margin-right: 1rem;

            &__list {
                display: flex;
                align-items: center;
                width: 40%;
                margin-left: auto;
                justify-content: space-between;
                font-family: $mont, $sans;
                font-size: 1.125rem;

                a {
                    color: $deep-blue;
                }
            }
        }

        .about-container {
            &__title {
                span {
                    &:nth-child(6) {
                        left: 35%;
                    }
                }
            }
        }
    }

    .intro-wrapper {
        &__container {
            &__skills {
                h2 {
                    font-size: 4rem;
                    width: 70%;
                    margin: 4rem 0;
                }

                &__list {
                    align-content: center;
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
    ion-icon {
        top: 85%;
        left: 50%;
    }

    .header-bg {
        .desktop-nav-bar {
            width: 100%;
            background: #fff;
            z-index: 10;
            position: fixed;
            opacity: 0.98;
            &__list {
                padding-right: 1rem;

                a {
                    position: relative;

                    &::before {
                        content: '';
                    }

                    &::before,
                    *::after {
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: currentColor;
                        top: 100%;
                        left: 0
                    }

                    &::before {
                        transform-origin: 100% 50%;
                        transform: scale3d(0, 1, 1);
                        transition: transform 0.3s;
                    }

                    &:hover::before {
                        transform-origin: 0% 50%;
                        transform: scale3d(1, 1, 1);
                    }
                }
            }
        }

        .about-container {
            &__title {
                span {
                    font-size: 100px;

                    &:first-child {
                        top: 10%;
                        left: 25%;
                    }

                    &:nth-child(2) {
                        top: 24%;
                        left: 35%;
                    }

                    &:nth-child(3) {
                        top: 37%;
                        left: 42%;
                    }

                    &:nth-child(4) {
                        top: 48%;
                        left: 52%;
                    }

                    &:nth-child(5) {
                        top: 61%;
                        left: 62%;
                    }

                    &:nth-child(6) {
                        top: 60%;
                        left: 38%;
                    }

                    &:nth-child(7) {
                        top: 71%;
                    }
                }
            }
        }
    }

    .intro-wrapper {
        &__container {
            p {
                width: 85%;
                margin: 0 auto;
                line-height: normal;
            }

            &__skills {
                &__list {
                    text-align: center;
                }
            }

            &__content {
                height: 50vh;
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: space-evenly;
                p{
                    font-size: 24px;
                }
            }
        }
    }

    .footer-container {
        height: 20vh;

        .footer-bar {
            flex-direction: row;
            .resume-btn{
                transition: all 350ms ease-in-out;
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                }
                &:active{
                    transform: translateY(10px);
                }
            }
            &__list {
                flex-direction: row;
                gap: 2rem;

                a {
                    position: relative;

                    &::before {
                        content: '';
                    }

                    &::before,
                    *::after {
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background-color: currentColor;
                        top: 100%;
                        left: 0
                    }

                    &::before {
                        transform-origin: 100% 50%;
                        transform: scale3d(0, 1, 1);
                        transition: transform 0.3s;
                    }

                    &:hover::before {
                        transform-origin: 0% 50%;
                        transform: scale3d(1, 1, 1);
                    }
                }
            }
        }
    }
}