@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans&family=Montserrat:wght@500&display=swap');

$alata: 'Alata';
$mont: 'Montserrat';
$jose: 'Josefin Sans';
$sans: sans-serif;