@import url("https://fonts.googleapis.com/css2?family=Alata&family=Arvo:wght@700&family=Josefin+Sans&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#ham-icon {
  margin: auto 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem;
  justify-content: flex-start;
}

#ham-icon div {
  width: 30px;
  height: 4px;
  background-color: #161d22;
  margin: 3px 0;
  transition: 0.4s;
  z-index: 5;
}

.ham-container {
  display: none;
  width: 100%;
}

.mobile-menu {
  position: fixed;
  right: -100%;
  top: 0;
  font-family: "Alata", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 80%;
  font-size: 3.5rem;
  background-color: #bababa;
  text-align: right;
  opacity: 0.98;
  transition: all 0.3s linear;
  margin-left: auto;
  list-style: none;
}
.mobile-menu li {
  padding: 0.5rem;
}
.mobile-menu a {
  color: #161d22;
}

/*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
.open .mobile-menu {
  z-index: 3;
  right: 0;
  box-shadow: -1px 9px 90px 180px rgba(45, 50, 77, 0.3490196078);
}

.fade {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade.appear {
  opacity: 1;
}

.from-left,
.right {
  transition: opacity 250ms ease-in, transform 400ms ease-in;
  opacity: 0;
}

.from-left {
  transform: translateX(-50%);
}

.right {
  transform: translateX(50%);
}

.from-left.appear,
.right.appear {
  transform: translateX(0);
  opacity: 1;
}

@media only screen and (min-width: 360px) {
  #css-art {
    overflow-x: hidden;
  }
  #cactus,
#spaceship,
#boba {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    justify-content: space-evenly;
    margin: 10rem auto;
  }
  img {
    width: 18.75rem;
    height: 18.75rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
  }
  .ham-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 3rem;
  }
  .desktop-nav-bar {
    display: none;
  }
  .explore-container {
    height: 100vh;
    font-family: "Alata", sans-serif;
  }
  .explore-container h1 {
    font-size: 74px;
    text-transform: capitalize;
    width: 85%;
  }
  .explore-container h1 .art-highlight {
    -webkit-text-stroke: 3px #fff;
    text-shadow: 5px 5px 0px #000000;
    color: #1d3d59;
    font-family: "Arvo", serif;
  }
  .explore-container__content {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 85%;
    margin: 0 auto;
  }
  .explore-container__content__description {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .explore-container__content__description p {
    font-size: 1.125rem;
  }
  .explore-container__content__btn {
    margin: 0 auto;
  }
  .explore-container__content__btn button {
    font-family: "Alata", sans-serif;
    width: 220px;
    height: 48px;
    border-radius: 10px;
    border: none;
    font-size: 1.125rem;
    background-color: #1d3d59;
    color: #efefef;
    transition: all 350ms ease-in-out;
  }
  .art-heading {
    font-family: "Alata", sans-serif;
    width: 85%;
    margin: 0 auto;
  }
  .art-heading h2 {
    font-size: 4rem;
  }
  .art-heading .line {
    width: 44px;
    height: 5px;
    background-color: #1d3d59;
  }
  .description {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    font-family: "Alata", sans-serif;
    text-align: center;
  }
  .description h3 {
    font-size: 2rem;
  }
  .description p {
    width: 90%;
  }
  .description__btn__container {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .description__btn__container .live-site,
.description__btn__container .code {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 1.5rem;
  }
  .description__btn__container .live-site {
    background-color: #1d3d59;
    color: #efefef;
  }
  .description__btn__container .code {
    background-color: #efefef;
    color: #161d22;
  }
  .footer-container {
    height: auto;
    background-color: #161d22;
    padding: 2rem 0;
  }
  .footer-container .footer-bar {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1.5rem;
    height: inherit;
    justify-content: space-evenly;
  }
  .footer-container .footer-bar a {
    color: #161d22;
  }
  .footer-container .footer-bar__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    gap: 0.75rem;
    font-size: 1.125rem;
    height: 25vh;
  }
  .footer-container .footer-bar__list a {
    color: #efefef;
  }
  .footer-container .footer-bar .resume-btn {
    width: 200px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    background-color: #efefef;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    color: #161d22;
  }
  .footer-container .footer-bar .attribution {
    font-family: "Montserrat", sans-serif;
    color: #efefef;
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 768px) {
  #cactus,
#spaceship,
#boba {
    margin: 6rem auto;
  }
  img {
    width: 20rem;
    height: 20rem;
  }
  .ham-container {
    display: none;
  }
  .desktop-nav-bar {
    display: flex;
    align-items: center;
    height: 10vh;
    margin-right: 1rem;
  }
  .desktop-nav-bar__list {
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: auto;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
  }
  .desktop-nav-bar__list a {
    color: #161d22;
  }
  .explore-container {
    text-align: center;
  }
  .explore-container h1 {
    text-align: center;
    width: 100%;
  }
  .explore-container__content__description p {
    font-size: 1.75rem;
  }
  .description {
    width: 90%;
  }
  .description p {
    font-size: 1.25rem;
  }
  .description__btn__container .live-site,
.description__btn__container .code {
    transition: all 350ms ease-in-out;
  }
  .description__btn__container .live-site:hover,
.description__btn__container .code:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .description__btn__container .live-site:active,
.description__btn__container .code:active {
    transform: translateY(10px);
  }
}
@media only screen and (min-width: 1200px) {
  #cactus,
#spaceship {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  #boba {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  img {
    width: 31.25rem;
    height: 31.25rem;
    margin: 0 2rem;
  }
  .desktop-nav-bar {
    width: 100%;
    background: #fff;
    z-index: 10;
    position: fixed;
    opacity: 0.98;
  }
  .desktop-nav-bar__list {
    padding-right: 1rem;
  }
  .desktop-nav-bar__list a {
    position: relative;
  }
  .desktop-nav-bar__list a::before {
    content: "";
  }
  .desktop-nav-bar__list a::before,
.desktop-nav-bar__list a *::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    top: 100%;
    left: 0;
  }
  .desktop-nav-bar__list a::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  .desktop-nav-bar__list a:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
  .explore-container__content {
    flex-direction: row;
    width: 100%;
    align-items: center;
  }
  .explore-container__content h1 {
    font-size: 6.25rem;
    z-index: 10;
  }
  .explore-container__content__description {
    justify-content: center;
    padding: 0 2rem;
  }
  .explore-container__content__btn button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .explore-container__content__btn button:active {
    transform: translateY(10px);
  }
  .description h3 {
    font-size: 3rem;
  }
  .description p {
    text-align: left;
  }
  .footer-container {
    height: 20vh;
  }
  .footer-container .footer-bar {
    flex-direction: row;
  }
  .footer-container .footer-bar .resume-btn {
    transition: all 350ms ease-in-out;
  }
  .footer-container .footer-bar .resume-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .footer-container .footer-bar .resume-btn:active {
    transform: translateY(10px);
  }
  .footer-container .footer-bar__list {
    flex-direction: row;
    gap: 2rem;
    height: auto;
  }
  .footer-container .footer-bar__list a {
    position: relative;
  }
  .footer-container .footer-bar__list a::before {
    content: "";
  }
  .footer-container .footer-bar__list a::before,
.footer-container .footer-bar__list a *::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    top: 100%;
    left: 0;
  }
  .footer-container .footer-bar__list a::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  .footer-container .footer-bar__list a:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
}/*# sourceMappingURL=art.css.map */