@import url("https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

#ham-icon {
  margin: auto 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem;
  justify-content: flex-start;
}

#ham-icon div {
  width: 30px;
  height: 4px;
  background-color: #efefef;
  margin: 3px 0;
  transition: 0.4s;
  z-index: 5;
}

body {
  opacity: 1;
  transition: all 1.75s ease-in;
  background-color: #efefef;
}

.fade {
  opacity: 0;
  background-color: #fff;
}

.swiper {
  width: 90%;
  height: auto;
  padding-bottom: 2rem;
}

.swiper-pagination {
  bottom: -20px;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 5px;
}

.ham-container {
  display: none;
  width: 100%;
}

/*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  /*stacks each link on top of each other on mobile*/
  justify-content: center;
  z-index: 3;
  height: 100vh;
  margin-left: auto;
  top: 0;
  width: 80%;
  right: 0;
  box-shadow: -1px 9px 90px 180px rgba(45, 50, 77, 0.3490196078);
  list-style: none;
  font-family: "Alata", sans-serif;
  transition: top 0.5s ease-in-out;
}
.open .mobile-menu li {
  padding: 0.5rem;
}

/*once user opens the icon the links will display in a stacked view*/
.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  /*fixed height of header*/
  left: 0;
  top: 100%;
  height: calc(70vh - 50px);
  /*takes the full remaining space of site hence width 100. set the height to 100 and subtract it from the height of header*/
  width: 100%;
  font-size: 3.5rem;
  /*sets the background of the menu once user opens the icon. I want to make this transition more seamless. (future update)*/
  background-color: #161d22;
  text-align: right;
  opacity: 0.98;
}
.mobile-menu a {
  color: #efefef;
}
.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (min-width: 360px) {
  .desktop-nav-bar {
    display: none;
  }
  .swiper-button-prev,
.swiper-button-next {
    display: none;
  }
  .ham-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 3rem;
  }
  .header-bg {
    background-color: #1d3d59;
    height: 100vh;
  }
  .header-bg .intro-container {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header-bg .intro-container__content {
    font-family: "Alata", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    margin-left: 0.8rem;
  }
  .header-bg .intro-container__content h1 {
    font-size: 74px;
    color: #bababa;
  }
  .header-bg .intro-container__content h1 .highlight {
    color: #efefef;
  }
  .header-bg .intro-container__content p {
    color: #bababa;
    font-size: 1.75rem;
  }
  .header-bg .intro-container__content p span {
    color: #efefef;
  }
  .header-bg .intro-container__content__socials {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .work-statement-container {
    display: flex;
    align-items: center;
    font-family: "Alata", sans-serif;
    text-align: center;
    line-height: 1.75rem;
    width: 80%;
    margin: 2rem auto;
    height: 50vh;
    font-size: 1.125rem;
  }
  .work-statement-container__content .line {
    display: block;
    width: 80px;
    height: 5px;
    background-color: #161d22;
    margin: 0 auto 2rem;
  }
  .projects-heading {
    font-family: "Alata", sans-serif;
    font-size: 40px;
    padding-left: 1rem;
  }
  .projects-heading h2 {
    width: 70%;
  }
  .projects {
    margin: 5rem auto;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Alata", sans-serif;
  }
  .card-img img {
    border-top-right-radius: 1.125rem;
    border-top-left-radius: 1.125rem;
  }
  .card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    position: relative;
    top: -5px;
    background-color: #1d3d59;
    color: #efefef;
    border-bottom-right-radius: 1.125rem;
    border-bottom-left-radius: 1.125rem;
    padding: 1rem;
  }
  .card__content h3 {
    text-align: center;
    font-size: 2rem;
  }
  .card__content .view-proj {
    color: #efefef;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid #efefef;
  }
  .card__desktop {
    display: none;
  }
  .see-all-container {
    display: flex;
    justify-content: center;
  }
  .see-all-container__btn {
    width: 144px;
    height: 48px;
    margin: 3rem auto;
    font-family: "Alata", sans-serif;
    border: none;
    border-radius: 10px;
    background-color: #161d22;
    color: #efefef;
    font-size: 1rem;
  }
  .see-all-container__btn:focus {
    transform: translateY(10px);
    transition: transform 250ms ease-in-out;
  }
  .connect-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1d3d59;
    font-family: "Alata", sans-serif;
    color: #efefef;
    height: 35vh;
  }
  .connect-container h4 {
    font-size: 48px;
  }
  .connect-container__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }
  .connect-container__list img {
    width: 40px;
    height: 40px;
  }
  .footer-container {
    height: auto;
    background-color: #161d22;
    padding: 2rem 0;
  }
  .footer-container .footer-bar {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1.5rem;
    height: inherit;
    justify-content: space-evenly;
  }
  .footer-container .footer-bar a {
    color: #161d22;
  }
  .footer-container .footer-bar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Montserrat", sans-serif;
    gap: 0.75rem;
    font-size: 1.125rem;
    height: 25vh;
  }
  .footer-container .footer-bar__list a {
    color: #efefef;
  }
  .footer-container .footer-bar .resume-btn {
    width: 200px;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    background-color: #efefef;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
  }
  .footer-container .footer-bar .attribution {
    font-family: "Montserrat", sans-serif;
    color: #efefef;
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) {
  .ham-container {
    display: none;
  }
  .header-bg .desktop-nav-bar {
    display: flex;
    height: 10vh;
    align-items: center;
    margin-right: 1rem;
  }
  .header-bg .desktop-nav-bar__list {
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: auto;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
  }
  .header-bg .desktop-nav-bar__list a {
    color: #efefef;
  }
  .header-bg .intro-container__content {
    align-items: center;
  }
  .work-statement-container {
    text-align: left;
    line-height: normal;
    font-size: 2rem;
  }
  .work-statement-container__content .line {
    margin: 0 0 2rem;
  }
  .projects-heading h2 {
    margin: 0 auto;
    text-align: center;
  }
  .connect-container {
    flex-direction: row;
    height: 40vh;
  }
  .connect-container h4 {
    width: 50%;
    text-align: center;
  }
  .connect-container__list {
    display: grid;
    width: 50%;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    row-gap: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .swiper-button-prev,
.swiper-button-next {
    display: block;
    color: #bababa;
  }
  .swiper {
    width: 60%;
  }
  .header-bg .desktop-nav-bar {
    position: fixed;
    width: 100vw;
    background: inherit;
    z-index: 10;
    opacity: 0.98;
  }
  .header-bg .desktop-nav-bar__list {
    padding-right: 1rem;
  }
  .header-bg .desktop-nav-bar__list a {
    position: relative;
  }
  .header-bg .desktop-nav-bar__list a::before {
    content: "";
  }
  .header-bg .desktop-nav-bar__list a::before,
.header-bg .desktop-nav-bar__list a *::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    top: 100%;
    left: 0;
  }
  .header-bg .desktop-nav-bar__list a::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  .header-bg .desktop-nav-bar__list a:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
  .header-bg .intro-container {
    height: 100%;
  }
  .header-bg .intro-container__content {
    align-items: flex-start;
    margin-left: 3rem;
  }
  .header-bg .intro-container__content h1 {
    font-size: 100px;
    width: 100%;
  }
  .header-bg .intro-container__content p {
    font-size: 3.5rem;
  }
  .header-bg .intro-container__content__socials {
    gap: 2rem;
  }
  .header-bg .intro-container__content__socials img {
    transition: all 300ms ease-in-out;
  }
  .header-bg .intro-container__content__socials img:not([disabled]):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  .card-img img {
    border-radius: 1.125rem;
  }
  .card__content {
    display: none;
  }
  .card__desktop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(196, 215, 224);
    -webkit-backdrop-filter: blur(2px) brightness(1.2);
            backdrop-filter: blur(2px) brightness(1.2);
    opacity: 0;
    transition: opacity 350ms;
    border-radius: 1.125rem;
  }
  .card__desktop:hover {
    opacity: 1;
  }
  .card__desktop__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card__desktop__content h3 {
    font-size: 3rem;
  }
  .card__desktop__content .tech-stack {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  .card__desktop__content .tech-stack span {
    border-radius: 12px;
    width: auto;
    text-align: center;
    padding: 1px 7px;
  }
  .card__desktop__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .card__desktop__btn__project, .card__desktop__btn__code {
    width: 150px;
    height: 46px;
    font-family: "Alata", sans-serif;
    border: none;
    border-radius: 10px;
    font-size: 1.125rem;
    transition: transform 350ms ease-in-out;
  }
  .card__desktop__btn__project:not([disabled]):hover, .card__desktop__btn__code:not([disabled]):hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .card__desktop__btn__project:active, .card__desktop__btn__code:active {
    transform: translateY(10px);
  }
  .card__desktop__btn__project {
    background-color: #1d3d59;
    color: #efefef;
  }
  .card__desktop__btn__code {
    background-color: #efefef;
    color: #161d22;
  }
  .see-all-container__btn {
    transition: all 300ms ease-in;
  }
  .see-all-container__btn:hover, .see-all-container__btn:focus {
    cursor: pointer;
    transform: scale(1.1);
  }
  .see-all-container__btn:active {
    transform: translateY(8px);
  }
  .connect-container {
    height: 30vh;
  }
  .connect-container h4 {
    font-size: 60px;
  }
  .connect-container__list img {
    width: 60px;
    height: 60px;
    transition: transform 350ms ease-in-out;
  }
  .connect-container__list img:not([disabled]):hover {
    cursor: pointer;
    transform: translateY(-10px);
  }
  .connect-container__list img:not([disabled]):hover:active {
    transform: translateY(5px);
  }
  .footer-container {
    height: 20vh;
    padding: 0;
  }
  .footer-container .footer-bar {
    flex-direction: row;
  }
  .footer-container .footer-bar .resume-btn {
    transition: all 350ms ease-in-out;
  }
  .footer-container .footer-bar .resume-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .footer-container .footer-bar .resume-btn:active {
    transform: translateY(10px);
  }
  .footer-container .footer-bar__list {
    flex-direction: row;
    gap: 2rem;
    height: auto;
  }
  .footer-container .footer-bar__list a {
    position: relative;
  }
  .footer-container .footer-bar__list a::before {
    content: "";
  }
  .footer-container .footer-bar__list a::before,
.footer-container .footer-bar__list a *::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    top: 100%;
    left: 0;
  }
  .footer-container .footer-bar__list a::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  .footer-container .footer-bar__list a:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }
}/*# sourceMappingURL=index.css.map */